html, body, ul, li, h1, figure {
  margin: 0;
  border: 0;
  padding: 0;

  background: transparent;
  font: inherit;
  text-style: inherit;
}


ul {
  list-style-type: none;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.squares-container {
  width: calc(60px * 10);
  height: calc(60px * 10);
  background-image: url("../assets/background.png");
  border: 1px solid black;
  margin: auto;
}

.square {
  box-sizing: border-box;
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  /*border: 1px solid black;*/
}

.pikachu {
  /*background: blue;*/
  background-image: url("../assets/pikachu-sprite.png");
}



.cherry {
  background-image: url("../assets/pokeball.png");
}

.trainer {
  background-image: url("../assets/trainer-sprite.png");
}

.south {
  background-position-y: 0;
}

.north {
  background-position-y: -60px;
}

.west {
  background-position-y: -120px;
}

.east {
  background-position-y: -180px;
}

.sprite-1 {
  background-position-x: 0px
}

.sprite-2 {
  background-position-x: -60px
}

.sprite-3 {
  background-position-x: -120px
}
